In [11]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(j+1) #end=" ")
    print('')

Enter the number of rows: 5
1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

In [5]:
n = int(input("Enter the number of rows: "))
for i in range(n):#represent rows
    for j in range(i+1):#represents column
        print(j+1, end=" ")#represents the work which you want to do
    print('')

Enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [12]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1): #(starting number, final number, step)
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [13]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1): #(starting number, final number, step)
        print(j+1)
    print('')

Enter the number of rows: 5
1

2
1

3
2
1

4
3
2
1

5
4
3
2
1

In [7]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(i+1, end=" ")
    print('')

Enter the number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [8]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(n-i, end=" ")
    print('')

Enter the number of rows: 5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [15]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1):
        print(n-j, end=" ")
    print('')

Enter the number of rows: 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [16]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i+1):
        print(n-j, end=" ")
    print('')

Enter the number of rows: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

In [26]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [28]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(n-i-1):
        print(" ", end="")#just remove the space from the bracket
    for j in range(i+1):
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [34]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i,-1,-1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 6
          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1
6 5 4 3 2 1

In [36]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(i+1, end=" ")
    print()

Enter the number of rows: 5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [37]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [39]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i,-1,-1):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

# For Triangle Shape

In [47]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")#no space in the end
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the number of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

Reverse Triangle

In [50]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n,0):
        print(j+1, end=" ")
    #for j in range()
    print()

Enter the number of rows: 5