# Print Various Pattern using Python Code (Basic To Advance)

Basics

In [11]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(j+1) #end=" ")
    print('')

Enter the number of rows: 5
1

1
2

1
2
3

1
2
3
4

1
2
3
4
5

# Basic 1

In [5]:
n = int(input("Enter the number of rows: "))
for i in range(n):#represent rows
    for j in range(i+1):#represents column
        print(j+1, end=" ")#represents the work which you want to do
    print('')

Enter the number of rows: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

# Basic 2

In [12]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1): #(starting number, final number, step)
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
1
2 1
3 2 1
4 3 2 1
5 4 3 2 1

In [13]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1): #(starting number, final number, step)
        print(j+1)
    print('')

Enter the number of rows: 5
1

2
1

3
2
1

4
3
2
1

5
4
3
2
1

# Basic 3

In [7]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(i+1, end=" ")
    print('')

Enter the number of rows: 5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

# Basic 4

In [8]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i+1):
        print(n-i, end=" ")
    print('')

Enter the number of rows: 5
5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

# Basic 5

In [15]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i,-1,-1):
        print(n-j, end=" ")
    print('')

Enter the number of rows: 5
5
4 5
3 4 5
2 3 4 5
1 2 3 4 5

In [16]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(i+1):
        print(n-j, end=" ")
    print('')

Enter the number of rows: 5
5
5 4
5 4 3
5 4 3 2
5 4 3 2 1

# Tricky

In [152]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(1,2*(i+1),2):
        print(j, end=" ")
    print('')

Enter the number of rows: 5
1
1 3
1 3 5
1 3 5 7
1 3 5 7 9

# New Pattern 2

In [26]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

In [28]:
n = int(input("Enter the number of rows: "))
for i in range(n):#0,1,2,3,4
    for j in range(n-i-1):
        print(" ", end="")#just remove the space from the bracket
    for j in range(i+1):
        print(j+1, end=" ")
    print('')

Enter the number of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [34]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i,-1,-1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 6
          1
        2 1
      3 2 1
    4 3 2 1
  5 4 3 2 1
6 5 4 3 2 1

In [36]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(i+1, end=" ")
    print()

Enter the number of rows: 5
        1
      2 2
    3 3 3
  4 4 4 4
5 5 5 5 5

In [37]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
        5
      5 4
    5 4 3
  5 4 3 2
5 4 3 2 1

In [39]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i,-1,-1):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
        5
      4 5
    3 4 5
  2 3 4 5
1 2 3 4 5

# For Triangle Shape

In [47]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end="")#no space in the end
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the number of rows: 5
    1
   1 2
  1 2 3
 1 2 3 4
1 2 3 4 5

In [1]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i+1):
        print(i+1,end=" ")
    print()

Enter the number of rows: 5
    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [89]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ", end="")
    for j in range(i+1):
        print(n-i,end= " ")
    print()

Enter the number of rows: 5
    5
   4 4
  3 3 3
 2 2 2 2
1 1 1 1 1

In [120]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end ="")
    for j in range(i+1):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
    5
   5 4
  5 4 3
 5 4 3 2
5 4 3 2 1

In [12]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1):
        print(" ",end ="")
    for j in range(i+1):
        print(n+j-i, end=" ")
    print()

Enter the number of rows: 6
     6
    5 6
   4 5 6
  3 4 5 6
 2 3 4 5 6
1 2 3 4 5 6

Reverse Triangle

In [58]:
#my code
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print(j+1, end=" ")
    print()

Enter the number of rows: 4
1 2 3 4
 1 2 3
  1 2
   1

In [59]:
#Alternating Way
n = int(input("Enter the number of rows: "))
for i in range(n-1,-1,-1):#change here & rest are same
    for j in range(n-i-1):
        print(" ",end="")#no space in the end
    for j in range(i+1):
        print(j+1,end=" ")
    print()

Enter the number of rows: 4
1 2 3 4
 1 2 3
  1 2
   1

In [75]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i-1,-1,-1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
 4 3 2 1
  3 2 1
   2 1
    1

In [76]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print(i+1, end=" ")
    print()

Enter the number of rows: 5
1 1 1 1 1
 2 2 2 2
  3 3 3
   4 4
    5

In [80]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end="")
    for j in range(n-i):
        print(n-i, end=" ")#here we chage the code
    print()

Enter the number of rows: 5
5 5 5 5 5
 4 4 4 4
  3 3 3
   2 2
    1

In [109]:
n = int(input("Enter th enumber of rows: "))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(n-i):
        print(n-j,end=" ")
    print()

Enter th enumber of rows: 5
5 4 3 2 1
 5 4 3 2
  5 4 3
   5 4
    5

In [15]:
n = int(input("Enter the number of rows:"))
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for j in range(n-i):
        print(j+1+i, end=" ")
    print()

Enter the number of rows:6
1 2 3 4 5 6
 2 3 4 5 6
  3 4 5 6
   4 5 6
    5 6
     6

# New pattern 3

In [30]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(j+1, end=" ")
    #for j in range(i):
        #print(" ", end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [31]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(i+1,end=" ")
    print()

Enter the number of rows: 5
1 1 1 1 1
2 2 2 2
3 3 3
4 4
5

In [32]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(n-i,end=" ")
    print()

Enter the number of rows: 5
5 5 5 5 5
4 4 4 4
3 3 3
2 2
1

In [33]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(n-j,end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
5 4 3 2
5 4 3
5 4
5

In [36]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(n-j-i,end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [39]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i):
        print(j+1+i,end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
2 3 4 5
3 4 5
4 5
5

In [43]:
#Alternative method
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(n-i-1,-1,-1):#change this
        print(j+1,end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

# Another Pattern

In [57]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
  1 2 3 4
    1 2 3
      1 2
        1

In [58]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(i+1, end=" ")
    print()

Enter the number of rows: 5
1 1 1 1 1
  2 2 2 2
    3 3 3
      4 4
        5

In [60]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(n-i, end=" ")
    print()

Enter the number of rows: 5
5 5 5 5 5
  4 4 4 4
    3 3 3
      2 2
        1

In [61]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(n-j, end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
  5 4 3 2
    5 4 3
      5 4
        5

In [62]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(n-j-i, end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1
  4 3 2 1
    3 2 1
      2 1
        1

In [69]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(i):
        print(" ", end=" ")#as we have space after number 
    for j in range(n-i):
        print(j+1+i, end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5
  2 3 4 5
    3 4 5
      4 5
        5

# Advance Pattern

In [88]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*i):
        print(" ", end="") 
    for j in range(n-i):
        print(n-j-i, end=" ")
    for j in range(n-i):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1 1 2 3 4 5
  4 3 2 1 1 2 3 4
    3 2 1 1 2 3
      2 1 1 2
        1 1

In [90]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*i):
        print(" ", end="") 
    for j in range(n-i):
        print(n-j-i, end=" ")
    for j in range(n-i-1):
        print(j+2, end=" ")
    print()

Enter the number of rows: 5
5 4 3 2 1 2 3 4 5
  4 3 2 1 2 3 4
    3 2 1 2 3
      2 1 2
        1

In [105]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*(n-i)):
        print(" ", end="") 
    for j in range(i,-1,-1):
        print(j+1, end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
          1 1
        2 1 1 2
      3 2 1 1 2 3
    4 3 2 1 1 2 3 4
  5 4 3 2 1 1 2 3 4 5

In [131]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*(n-i)):
        print(" ", end="") 
    for j in range(i+1):
        print(j+1, end=" ")
    for j in range(i,-1,-1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
          1 1
        1 2 2 1
      1 2 3 3 2 1
    1 2 3 4 4 3 2 1
  1 2 3 4 5 5 4 3 2 1

In [134]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*(n-i)):
        print(" ", end="") 
    for j in range(i+1):
        print(j+1, end=" ")
    for j in range(i-1,-1,-1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
          1
        1 2 1
      1 2 3 2 1
    1 2 3 4 3 2 1
  1 2 3 4 5 4 3 2 1

In [113]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*(n-i)):
        print(" ", end="") 
    for j in range(i-1,-1,-1):
        print(j+2, end=" ")
    for j in range(i+1):
        print(j+1, end=" ")
    print()

Enter the number of rows: 5
          1
        2 1 2
      3 2 1 2 3
    4 3 2 1 2 3 4
  5 4 3 2 1 2 3 4 5

In [121]:
n = int(input("Enter the number of rows: "))
for i in range(n):
    for j in range(2*i):
        print(" ", end="") 
    for j in range(n-i):
        print(j+1+i, end=" ")
    for j in range(n-i-1):
        print(n-j-1, end=" ")
    print()

Enter the number of rows: 5
1 2 3 4 5 4 3 2 1
  2 3 4 5 4 3 2
    3 4 5 4 3
      4 5 4
        5